#table1 {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-color: grey;
    position: absolute;
    background-color: rgb(90, 90, 90);
    left: 200px;
    top: 0px;
    z-index: 5;
    height: 10%;
    width: 15%;
}
#table1 td {
  text-align: center;
  background: Sonic Silver;
  z-index: 4;
  overflow: auto;
}
#table1 td:first-child {
    text-align: left;
}​
